
.App {
  text-align: center;
  background-image: linear-gradient(#FDC15D, black, black, #D42978, black);
  height: 100vh !important;
}

.w-5{
  width: 7%;
}

.custom-buton-radius{
  border-radius: 50px !important ;
}

.custom-buton-radius:hover{
  background: #D42978 !important;
}

.px-15{
  padding-left: 15% !important;
  padding-right: 15% !important;
}
.px-10{
  padding-left: 7% !important;
  padding-right: 7% !important;
}
.bg-pink{
  background-color: #D42978 !important;
}
.text-pink{
  color: #D42978 !important;
}
.border-pink{
  border-color: #D42978 !important;
}
.bg-grey{
  background-color: #292929 !important;
}
.Border-none{
  border-color: transparent !important;
}
.profile-img{
    width: 65% !important;
    border-radius: 50% !important;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}